<div class="row pt-0">
    <div class="col">
        <section>
            <h2>Compétence</h2>
            <div class="content">
                <app-skill></app-skill>
            </div>
        </section>
    </div>
    <div class="col">
        <section>
            <h2>Langage</h2>
            <div class="content">
                <app-language></app-language>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <h2>Expérience</h2>
            <div class="content">
                <app-experience></app-experience>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <h2>Formation</h2>
            <div class="content">
                <app-education></app-education>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <h2>Centre d'intérêt</h2>
            <div class="content">
                <app-interest></app-interest>
            </div>
        </section>
    </div>
</div>