<div class="row pt-0">
    <div class="col">
        <section>
            <app-skill></app-skill>
        </section>
    </div>
    <div class="col">
        <section>
            <app-language></app-language>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <app-experience></app-experience>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <app-education></app-education>
        </section>
    </div>
</div>
<div class="row">
    <div class="col">
        <section>
            <app-interest></app-interest>
        </section>
    </div>
</div>