<form [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
  <div class="form-group">
    <label for="title">Intitulé</label>
    <input type="text" id="title" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}">
    <div *ngIf="submitted && f.title.errors">
      <div *ngIf="f.title.errors.required">Champ requis</div>
      <div *ngIf="f.title.errors.maxlength">Trop long</div>
    </div>
  </div>
  <div class="form-group">
    <label for="details">Détails</label>
    <textarea id="details" formControlName="details" [ngClass]="{'is-invalid': submitted && f.details.errors}"></textarea>
    <div *ngIf="submitted && f.details.errors">
      <div *ngIf="f.details.errors.required">Champ requis</div>
      <div *ngIf="f.details.errors.maxlength">Trop long</div>
    </div>
  </div>
  <button type="submit">Publier</button>
</form>