@import 'src/styles.scss';

header {
    text-align: center;
    padding: 1.7em;
    width: $header-width;
    height: 100vh;
    background: $secondary-color;
    box-shadow: inset -10px 0 10px -10px black;
}

#page {
    width: 100%;
    min-height: 100vh;
    margin-left: $header-width;
    position: relative;

    .page-content {
        max-width: 800px;
        margin: auto;
    }
    &::after {
        content: "";
        background: url('public/img/bg-1.jpg') center no-repeat fixed;
        background-size: cover;
        opacity: 0.2;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }
}

