<div id="menu" (scroll)="onWindowScroll($event);">
  <a routerLink="" fragment="skills" title="Compétence">
    <i class="fas fa-code"></i>
  </a>
  <a routerLink="" fragment="languages" title="Langage">
    <i class="far fa-comments"></i>
  </a>
  <a routerLink="" fragment="experiences" title="Expérience">
    <i class="fas fa-user-tie"></i>
  </a>
  <a routerLink="" fragment="educations" title="Formation">
    <i class="fas fa-graduation-cap"></i>
  </a>
  <a routerLink="" fragment="interests" title="Centre d'intérêt">
    <i class="fas fa-heart"></i>
  </a>
  <a routerLink="" fragment="portfolio" title="Portfolio">
    <i class="fas fa-folder"></i>
  </a>
  <a routerLink="" fragment="contact" title="Contact">
    <i class="fas fa-address-card"></i>
  </a>
</div>