<form [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
    <div class="form-group">
        <label for="title">Intitulé</label>
        <input type="text" id="title" formControlName="title" [ngClass]="{'is-invalid': submitted && f.title.errors}">
        <div *ngIf="submitted && f.title.errors">
            <div *ngIf="f.title.errors.required">Champ requis</div>
            <div *ngIf="f.title.errors.maxlength">Trop long</div>
        </div>
    </div>
    <div class="form-group">
        <label for="company">Etablissement</label>
        <input type="text" id="company" formControlName="company" [ngClass]="{'is-invalid': submitted && f.company.errors}">
        <div *ngIf="submitted && f.company.errors">
            <div *ngIf="f.company.errors.required">Champ requis</div>
            <div *ngIf="f.company.errors.maxlength">Trop long</div>
        </div>
    </div>
    <div class="form-group">
        <label for="startyear">Début</label>
        <input type="text" id="startyear" formControlName="startyear" [ngClass]="{'is-invalid': submitted && f.startyear.errors}">
        <div *ngIf="submitted && f.startyear.errors">
            <div *ngIf="f.startyear.errors.required">Champ requis</div>
            <div *ngIf="f.startyear.errors.maxlength">Trop long</div>
        </div>
    </div>
    <div class="form-group">
        <label for="endyear">Fin</label>
        <input type="text" id="endyear" formControlName="endyear" [ngClass]="{'is-invalid': submitted && f.endyear.errors}">
        <div *ngIf="submitted && f.endyear.errors">
            <div *ngIf="f.endyear.errors.required">Champ requis</div>
            <div *ngIf="f.endyear.errors.maxlength">Trop long</div>
        </div>
    </div>
    <div class="form-group">
        <label for="about">Détails</label>
        <textarea id="about" formControlName="about" [ngClass]="{'is-invalid': submitted && f.about.errors}"></textarea>
        <div *ngIf="submitted && f.about.errors">
            <div *ngIf="f.about.errors.required">Champ requis</div>
            <div *ngIf="f.about.errors.maxlength">Trop long</div>
        </div>
    </div>
    <button type="submit">Publier</button>
</form>