<div class="d-flex" *ngIf="interests">
    <div class="item text-center col" *ngFor="let interest of interests">
        <div>
            <p class="item-icone" [innerHTML]="interest.icone"></p>
            <p>{{ interest.title }}</p>
        </div>
        <div class="mt-2">
            <button class="edit" *ngIf="isAuth('ROLE_ADMIN')" (click)="edit(interest)" title="Editer"><i class="fas fa-pen"></i></button>
            <button class="delete" *ngIf="isAuth('ROLE_ADMIN')" (click)="delete(interest)" title="Supprimer"><i class="fas fa-times"></i></button>
        </div>
    </div>
</div>
