$header-width: 250px;

$bg-color: scale-color(white, $lightness: -4%);
$txt-color: scale-color(black, $lightness: 15%);
$primary-color: orange;
$secondary-color: sienna;
$alert-color: rgb(199, 46, 0);

body {
    color: $txt-color;
}

section {
    margin-bottom: 30px;
    background: $bg-color;
    box-shadow: 0 0 7px black;

    h2 {
        color: $secondary-color;
        font-size: 1.8em;
        padding: 10px;
        padding-left: 20px;
        background: scale-color($primary-color, $lightness: 95%);
    }
    .item {
        color: $txt-color;
        width: 100%;
        background: none;
        padding: 10px;
        padding-left: 35px;
        border: none;
        border-top: solid scale-color(black, $lightness: 85%) 1px;

        &:hover {
            background: scale-color($primary-color, $lightness: 95%);
            border-left: solid 2px $primary-color;
            padding-left: 33px;
        }
        &:focus {
            outline: none;
        }
    }
    .active {
        .item-about {
            max-height: 200px;
            transition: max-height 1s;
            transition-timing-function: linear;
        }
    }
    button.item {
        cursor: pointer;
    }
    .item button {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 3px;
    }
    .item button, form button {
        background: unset;

        &:hover {
            cursor: pointer;
            color: $txt-color;
        }
        &:focus {
            outline: none;
        }
        &:active {
            background: unset;
        }
    }
    .edit, .add {
        color: $primary-color;
        border: solid $primary-color 1px;
        box-shadow: 0 0 5px scale-color($primary-color, $lightness: +40%);
    }
    .delete, .reset {
        color: $alert-color;
        border: solid $alert-color 1px;
        box-shadow: 0 0 5px scale-color($alert-color, $lightness: +30%);
    }
    .item-icone {
        color: $primary-color;
        font-size: 2.5em;
    }
    .item-about {
        font-size: .8em;
        margin-left: 20px;
        padding-left: 8px;
        border-left: solid $primary-color 1px;
        overflow: hidden;
        max-height: 0;
        transition: max-height .5s;
        transition-timing-function: linear;
    }
}

form {
    padding: 10px 20px;
    padding-left: 0;

    input , textarea{
        padding: 2px 10px;
        width: 100%;
        background: scale-color($primary-color, $lightness: 95%);
        border: solid 1px $primary-color;

        &:focus {
            outline: none;
            border: solid 1px $secondary-color;
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus{
        -webkit-text-fill-color: $txt-color;
        box-shadow: 0 0 0px 1000px scale-color($primary-color, $lightness: 95%) inset;
    }
    .invalid-data {
        color: $alert-color;
        font-size: 12px;
    } 
}

p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.avatar, .badge {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.avatar {
    position: relative;
    overflow: hidden;
    
    .badge {
        border: solid $primary-color 5px;
        box-shadow: inset 0 0 10px  black;
        position: absolute;
        z-index: 2;

        &:empty {
            display: block;
        }
    }
    .img {
        position: absolute;
        left: 0;
        z-index: 1;
    }
    img {
        width: 100%;
    }
}

a {
    text-decoration: none;
}